.logo {
  width: 323px;
  height: 60px;
  display: block;
  @media (max-width: 801px) {
    margin-bottom: 0; /* Remova a margem inferior no logo */
    width: 228px;
    height: 42px;
    margin-left: 0;

    img {
      margin-bottom: 0; /* Remova a margem inferior no logo */
      width: 228px;
      height: 42px;
      margin-left: 0;
    }
  }

  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}
