@import "../../../../public/scss/global.module.scss";

.preHeader {
  display: flex;
  background-color: $orange-bg-color;
  height: 40px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}
.buttonsContainer {
  display: flex;
  gap: 5px;
  //justify-content: space-between;
  width: 370px;
  margin-left: 900px;
}
