.carousel {
  //position: fixed;
  //border: 2px solid red;
  //background-color: aquamarine;
  /*min-height: 180px;
  max-height: 440px;*/
  width: 100%;
  //min-height: 442px;
  //overflow: hidden;
  margin: 0;
  //position: relative;
}
.teste {
}
