.react-chatbot-kit-chat-container {
  width: 100% !important;
  height: 510px;

  div {
  }
}
.react-chatbot-kit-chat-inner-container {
}

.react-chatbot-kit-chat-message-container {
  //border: 6px solid black;
}

.react-chatbot-kit-chat-input-container {
  width: 100%;
}

.react-chatbot-kit-chat-input {
  width: 900px;
}

.react-chatbot-kit-chat-input-form {
  width: 900px;
}

.react-chatbot-kit-chat-message-container {
  //background-color: red;
}

.react-chatbot-kit-chat-bot-message-container {
  display: grid;

  align-items: flex-start;
}

.react-chatbot-kit-chat-bot-message {
  width: 90% !important;
}
