@import "../../../../public/scss/global.module.scss";

@import "../../../../public/scss/global.scss";

// CAROUSEL

.carousel {
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carouselButton i {
  color: #333; /* Cor dos ícones */
}

#prevButton {
  left: 20px;
}

#nextButton {
  right: 20px;
}

.carouselInner {
  display: flex;
  width: 500%; /* 5 slides em largura total */
  transition: transform 1s ease-in-out;
  height: 100%;
}

.carouselSlide {
  width: 20%; /* Cada slide ocupa 20% da largura do contêiner (5 slides no total) */
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -3px;
  justify-content: center;
}

/* Ajuste de imagem do carrossel para 100vw */
.carousel img {
  margin: 0 auto;
  width: 100vw;
}
@media (max-width: 400px) {
  .carousel {
    width: 100vw;
    height: 105.47px;
    overflow: hidden;
  }

  .carouselInner {
    display: flex;
    transition: transform 1s ease-in-out;
    white-space: nowrap; /* Impede que os slides quebrem para a próxima linha */
  }

  .carouselSlide {
    width: 20%; /* Cada slide ocupa 20% da largura do contêiner (5 slides no total) */
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: -3px;
    justify-content: center;
  }

  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel2 {
  width: 80%;
  overflow: hidden;
  margin: 0;
  position: relative;
  margin-left: 120px;
}

.carouselButton2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carouselButton2 i {
  color: #333; /* Cor dos ícones */
}

#prevButton2 {
  left: 20px;
}

#nextButton2 {
  right: 20px;
}

.carouselInner2 {
  display: flex;
  width: 500%; /* 5 slides em largura total */
  transition: transform 1s ease-in-out;
  height: 100%;
}

.carouselSlide2 {
  width: 20%; /* Cada slide ocupa 20% da largura do contêiner (5 slides no total) */
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: -3px;
}

.carousel2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Isso faz a imagem preencher o slide sem deformá-la */
}

@media (max-width: 800px) {
  .carousel2 {
    margin-left: 0;
    width: 100vw;
  }
}

@media (max-width: 400px) {
  .carousel2 {
    width: 100vw;
    height: 105.47px;
    overflow: hidden;
  }

  .carouselInner2 {
    display: flex;
    transition: transform 1s ease-in-out;
    white-space: nowrap; /* Impede que os slides quebrem para a próxima linha */
  }

  .carouselSlide2 {
    width: 375px; /* Largura de cada slide */
    height: 105.47px;
    display: flex; /* Exibe os slides em linha */
  }

  .carousel2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/// END CAROUSEL
///
///
///
///
///

//// CURSOS EM ALTA
///

/* ajuste de grid do titulo de cursos em alta */

.containerCursos {
  box-sizing: border-box;
  width: 100vw;
  /* max-width: 1200px;
  margin-left: 80px;
  margin-right: auto; */
}

.cursosLista {
  background-image: url("/img/fundo-cursos.png");
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid red;
  width: 100vw;
}

.cursosLista h2 {
  margin-bottom: 40px;
  font-family: "apotek-comp", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: #ededed;
}

.cursosLista ul {
  margin: 0px;
  padding: 0 20px 20px 20px;
  list-style: none;
  display: flex;
  gap: 10px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  justify-content: space-between;
}

.cursosLista a {
  display: block;
  color: transparent;
}

.cursosLista img {
  margin-bottom: 0px;
}

.cursosLista h2 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.cursosLista h2::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: #ff7323;
  transition: width 0.2s;
}

.cursosLista a:hover h2::before {
  width: 24px;
}

.cursosLista li span {
  padding-left: 20px;
  font-family: "eigerdals", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.condicoes {
  margin-top: 20px;
  color: #ffffff;
  margin-left: 90px;
  margin-bottom: 0px;
}

@media (max-width: 800px) {
  .containerCursos {
    margin-left: 0px;
  }
  .cursosLista {
    padding-bottom: 60px;
    width: 100vw;
  }
  .cursosLista ul {
    gap: 20px;
  }
  .margemTitulo {
    margin-left: 25px;
  }
}

///
///
/// END CURSOS EM ALTA
///
///

///
///
/// DIFERENCIAIS
///
///

.tecnologiaBg {
  background-color: white;
}

.tecnologia {
  display: flex;

  margin: 20px;
  align-items: center;
  justify-content: center;
  gap: 60px; /* Reduzido o espaço entre as colunas */
  /* margin-left: 180px; */
}

/* .tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px; Reduzido o espaço entre as colunas 
  margin-left: 180px;
} */

.tecnologiaImagem img {
  width: 100%;
  margin-top: 200px;
  object-fit: cover;
  object-position: left;
}

.tecnologiaConteudo > h2 > span {
  display: block;
  font-family: "apotek", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 36px;
  text-transform: uppercase;
  color: #ff7323;
  margin-top: 10px;
}

.tecnologiaConteudo h2 {
  font-family: "eigerdals", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 32px;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 800px;
}

.tecnologiaConteudo p {
  color: #595959;
  font-family: "eigerdals", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top: 0px;
  text-align: justify;
}

.tecnologiaConteudo > p {
  margin-bottom: 20px;
}

.tecnologiaVantagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  max-width: 1280px;
}

.tecnologiaVantagens h3 {
  margin-bottom: 12px;
  width: max-content;
  font-family: "eigerdals", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  /* margin-top: 0px; */
  margin-top: 8px;
}

/* Container de cada card */
.cardContainer {
  border-radius: 8px;
  width: 94%;
  padding: 24px;
  background: #fdfdfd;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.tecnologiaVantagens img {
  width: 24px;
}

@media (max-width: 800px) {
  .tecnologia {
    grid-template-columns: 1fr;
    margin: 0 20px;
  }
  .tecnologiaConteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tecnologiaImagem {
    display: none;
  }
  .tecnologiaVantagens {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .tecnologiaVantagens {
    flex-direction: column;
  }
}

///
/// END DIFERENCIAIS
///
///

/// ESPECIALIDADES
///
///

.section {
  background-image: url("/img/Fundo-especialidade.png");
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  padding: 20px;
}

/* Ajuste de titulo */
.section h1 {
  text-align: center;
  align-self: flex-start;
}

.section h2 {
  color: #16375c;
  font-size: 32px;
  font-family: "apotek", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.section p {
  color: #595959;
  font-size: 20px;
  text-align: justify;
}

.containerEspecialidade {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 200px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imagemEspecialidade {
  max-width: 100px;
  height: auto;
}

.texto {
  flex: 1;
  text-align: left;
}

.cursosUp {
  text-decoration: underline;
  color: #16375c;
  cursor: pointer;
}

@media (max-width: 801px) {
  h1 {
    font-size: 30px;
  }
  .containerEspecialidade {
    margin: auto;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .containerEspecialidade {
    margin: auto;
  }

  .item {
    flex-direction: column; /* Inverta a ordem dos elementos */
    text-align: center; /* Centralize o texto */
  }

  .imagemEspecialidade {
    order: -1;
  }
}
