.success {
  background-color: rgb(7, 182, 7);
  width: 390px;
  height: 95px;
  position: fixed;
  top: 5px;
  right: 0;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;

  h3 {
    font-size: 27px;
    font-weight: 600;
  }
}
