.searched-options-container {
  padding: 12px 20px;

  display: flex;
  //width: 100%;
  //min-width: 0;

  flex-wrap: wrap;

  justify-content: center;

  //flex-direction: column;

  .searched-option-button {
    clear: both;
    display: block;
    margin: 3px 4px;
  }
}

.modalidades-options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .modalidade {
    margin: 3px 4px;
  }
}
