.tabela {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 40px;
}

.conteudopos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 calc(25% - 30px); /* Defina a largura desejada para cada coluna */
  margin-bottom: 20px; /* Adicione margem inferior para espaçamento entre as colunas */
  box-sizing: border-box;
}

.conteudopos h3 {
  color: #ff7323;
  font-size: 24px;
  font-family: "eigerdals", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.conteudopos img {
  width: 100px;
  height: 100px;
}

.tabela .conteudopos:nth-child(2) h3,
.tabela .conteudopos:nth-child(4) h3,
.conteudopos:nth-child(2) img,
.conteudopos:nth-child(4) img {
  margin-bottom: 29px;
}

.conteudopos p {
  text-align: center;
  font-size: 24px;
  font-family: "eigerdals", sans-serif;
  font-weight: 400;
  font-style: normal;
}

///
/// intropos
///

.titulo-pos {
  color: #16375c;
}

.cursos-alta-p {
  background-color: #16375c;
}

.cursos-alta-p h2 {
  margin-bottom: 40px;
  font-family: "apotek-comp", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: #ededed;
}

.cursos-alta-p ul {
  margin: 0px;
  padding: 0 20px 20px 20px;
  list-style: none;
  display: flex;
  gap: 10px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  justify-content: space-between;
}

.cursos-alta-p a {
  display: block;
  color: transparent;
}

.cursos-alta-p img {
  margin-bottom: 0px;
}

.cursos-alta-p h2 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.cursos-alta-p h2::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: #fdb913;
  transition: width 0.2s;
}

.cursos-alta-p a:hover h2::before {
  width: 24px;
}

.cursos-alta-p li span {
  padding-left: 20px;
  font-family: "eigerdals", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.condicoes {
  margin-top: 20px;
  color: #ffffff;
  margin-left: 90px;
  margin-bottom: 0px;
}

@media (max-width: 801px) {
  .cursos-alta-p {
    padding-bottom: 30px;
  }
  .cursos-alta-p ul {
    gap: 20px;
  }
}

.bg {
  background-color: #16375c;
}
