::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bab9b9;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
